@charset "UTF-8";
.btn {
  padding: 8px 12px;
  border: solid #f6f6f6 1px;
}
.btn:hover {
  background-color: #b0b0b0;
  color: #454545;
}
.btn:active {
  background-color: transparent;
  color: #f6f6f6;
}
.btn__round {
  border-radius: 50px;
}
.btn__square {
  border-radius: 8px;
}
.btn--no-border {
  border: none;
}
.btn--login {
  width: 100%;
  background-color: #4452fe;
  padding: 12px 0;
  border-radius: 8px;
}
.btn--sign-up-now {
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  background-color: transparent;
  color: #4452fe;
  border: solid #4452fe 1px;
}
.btn--approve {
  background-color: #b7fbdf;
  color: #181818;
  border-radius: 6px;
}
.btn--deny {
  background-color: #ef4444;
  color: #181818;
  border-radius: 6px;
}
.btn--cancel {
  background-color: #fddd8a;
  color: #181818;
  border-radius: 6px;
}
.btn--unavailable {
  font-size: 12px;
  background-color: #fddd8a;
  color: #181818;
  border-radius: 6px;
}
.btn--invitation-link {
  background-color: transparent;
  border-radius: 50px;
}
.btn--show-all {
  background-color: #f6f6f6;
  border-radius: 0 0 8px 8px;
  text-align: center;
}
.btn--show-all__text {
  width: 100%;
  color: #181818;
  cursor: pointer;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #181818;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
a,
button,
span,
label,
th,
td {
  color: #f6f6f6;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 2.5892857143rem + 2.6785714286vw, 5rem);
}

h2 {
  font-size: 3rem;
  font-size: clamp(3rem, 2.7142857143rem + 1.4285714286vw, 4rem);
}

h3 {
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 2.0357142857rem + 1.0714285714vw, 3rem);
}

h4 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.0357142857rem + 1.0714285714vw, 2rem);
}

p,
li,
a,
span {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.6785714286rem + 0.3571428571vw, 1rem);
}

footer {
  display: flex;
  justify-content: center;
  padding: 24px;
  border-top: solid #f6f6f6 1px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #f6f6f6;
}
.navbar__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
}
.navbar__logo__text {
  font-size: 24px;
}
.navbar .nav__list {
  display: flex;
  gap: 24px;
}
.navbar .nav__list__item:hover {
  -webkit-text-decoration: underline #f6f6f6;
          text-decoration: underline #f6f6f6;
}
.navbar .nav__controls {
  display: flex;
  gap: 16px;
  align-items: center;
}
.navbar .nav__toggle-container {
  display: none;
}
.navbar .btn--toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar .nav__list-container {
    display: none;
  }
  .navbar .btn--toggle {
    display: block;
  }
  .navbar .nav__controls {
    display: none;
  }
  .navbar .nav__toggle-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    z-index: 9999;
  }
  .navbar .nav__toggle-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  .navbar .nav__list--toggle {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .navbar .open {
    display: block;
  }
  .navbar .hidden {
    display: none;
  }
}

.announcement__head {
  padding: 12px 0;
}
.announcement__title {
  color: #f6f6f6;
}
.announcement .btn {
  border: none;
}
.announcement .text--expired {
  color: #888888;
}
.announcement .form {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 16px;
}
.announcement .form__label {
  margin-right: 16px;
}
.announcement .form__text--error-message {
  color: #ef4444;
}
.announcement .form__text--success-message {
  color: #7ff6c7;
}
.announcement .form__group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 16px;
}
.announcement .form__detail {
  display: flex;
  flex-direction: column;
}
.announcement .form__detail--size {
  min-height: 100px;
}
.announcement .form__select--multiple {
  display: flex;
  align-items: center;
}
.announcement .form__select--size-multiple {
  width: 150px;
}
.announcement .form__btn {
  padding: 8px 12px;
  margin: 16px 0 16px auto;
  border: solid 1px #f6f6f6;
}
.announcement table,
.announcement th,
.announcement td {
  border: solid 1px #f6f6f6;
}
.announcement .overflow-y {
  width: 100%;
  overflow-y: scroll;
}
.announcement table {
  height: auto;
}
.announcement .table {
  width: 100%;
  padding: 16px 0;
  border: solid 1px #f6f6f6;
  border-collapse: collapse;
}
.announcement .table__row--size-head {
  height: 50px;
}
.announcement .table__row--size-body {
  height: 100px;
}
.announcement .table__cel {
  text-align: center;
}
.announcement .table__cel--small {
  min-width: 60px;
}
.announcement .table__cel--medium {
  min-width: 120px;
}
.announcement .table__cel--large {
  min-width: 260px;
}

.edit-availability .header {
  padding: 12px 0;
}
.edit-availability .header__title {
  margin-bottom: 16px;
}
.edit-availability table,
.edit-availability th,
.edit-availability td {
  border: solid 1px #f6f6f6;
}
.edit-availability table {
  height: auto;
}
.edit-availability .table {
  width: 100%;
  padding: 16px 0;
  border: solid 1px #f6f6f6;
  border-collapse: collapse;
}
.edit-availability .table__row--size-head {
  height: 50px;
}
.edit-availability .table__row--size-body {
  height: 70px;
}
.edit-availability .table__cel {
  text-align: center;
}
.edit-availability .table__cel--small {
  width: 120px;
}
.edit-availability .table__cel--action {
  width: 130px;
}
.edit-availability .form {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 16px;
}
.edit-availability .form__text--error-message {
  color: #ef4444;
}
.edit-availability .form__text--success-message {
  color: #7ff6c7;
}
.edit-availability .form__group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 16px;
}
.edit-availability .form__group__date {
  display: flex;
  gap: 24px;
}
.edit-availability .form__group__note {
  max-width: 400px;
  width: 100%;
  height: 80px;
}
.edit-availability .form__btn {
  padding: 8px 12px;
  margin: 16px 0 16px auto;
  border: solid 1px #f6f6f6;
}

.calendar {
  grid-row: 2;
  grid-column: 3/13;
}
.calendar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar .container--right {
  justify-content: right;
}
.calendar .select {
  padding: 16px 24px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 32px;
}
.calendar .select__label {
  display: grid;
  place-items: center;
  padding: 8px 24px;
  background-color: #f6f6f6;
  font-weight: 800;
}
.calendar .select__label--black {
  color: #181818;
}
.calendar .select__input {
  padding: 8px 12px;
  background-color: transparent;
  color: #f6f6f6;
  border: none;
}
.calendar .select__input--select {
  border-bottom: solid 1px #f6f6f6;
  width: 150px;
  text-align: center;
}
.calendar .select__input--submit {
  width: 120px;
  border: solid 1px #f6f6f6;
}
.calendar .editor {
  position: relative;
}
.calendar .editor__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999;
}
.calendar .editor__container {
  position: absolute;
  top: 0;
  right: 0;
  width: max(50%, 300px);
  height: max(100%, 500px);
  background-color: #181818;
  overflow: hidden;
  border: double 4px #f6f6f6;
  white-space: nowrap;
  transition: 0.7s;
  z-index: 99;
}
.calendar .editor .close {
  width: 0;
  border: none;
}

.dashboard {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(12, 1fr);
}
.dashboard .header {
  grid-row: 1/2;
  grid-column: 1/13;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .header__title {
  margin-bottom: 16px;
}
.dashboard .announcement-frame {
  grid-row: 2/3;
  grid-column: 1/8;
  padding-right: 24px;
  margin-bottom: 24px;
}
.dashboard .request-status-frame {
  grid-row: 3/4;
  grid-column: 1/8;
  padding-right: 24px;
  margin-bottom: 24px;
}
.dashboard .availability-frame {
  grid-row: 2/4;
  grid-column: 8/13;
}
.dashboard .frame {
  border: solid #f6f6f6 1px;
  border-radius: 16px;
  padding: 10px 10px;
}
.dashboard .list {
  padding: 12px 0 12px 12px;
  list-style: square;
}
.dashboard .list--no-wrap {
  overflow: hidden;
  white-space: nowrap;
}
.dashboard .list__item {
  margin-bottom: 8px;
}
.dashboard .list__item::marker {
  color: #f6f6f6;
}
@media screen and (max-width: 768px) {
  .dashboard {
    grid-template-rows: repeat(4, auto);
  }
  .dashboard .announcement-frame {
    grid-row: 2/3;
    grid-column: 1/13;
    padding-right: 24px;
    margin-bottom: 24px;
  }
  .dashboard .request-status-frame {
    grid-row: 3/4;
    grid-column: 1/13;
    padding-right: 24px;
    margin-bottom: 24px;
  }
  .dashboard .availability-frame {
    grid-row: 4/5;
    grid-column: 1/13;
  }
}

.departments .header {
  padding: 12px 0;
}
.departments .header__title {
  margin-bottom: 16px;
}
.departments .form-container {
  display: grid;
  justify-content: end;
}
.departments .form {
  display: grid;
  place-items: center;
  padding: 48px;
  background-color: #181818;
  border: double 2px #f6f6f6;
}
.departments .form__label {
  margin-right: 16px;
}
.departments .form__label--error {
  color: #ef4444;
}
.departments .form__btns {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
.departments .group {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.departments .group__select {
  padding: 8px 12px;
  background-color: transparent;
  color: #f6f6f6;
  border: none;
  border-bottom: solid 1px #f6f6f6;
  width: 150px;
  text-align: center;
}
.departments table,
.departments th,
.departments td {
  border: solid 1px #f6f6f6;
}
.departments table {
  height: auto;
}
.departments .table {
  width: 100%;
  padding: 16px 0;
  border: solid 1px #f6f6f6;
  border-collapse: collapse;
}
.departments .table__row--size-head {
  height: 50px;
}
.departments .table__row--size-body {
  height: 70px;
}
.departments .table__cel {
  text-align: center;
}
.departments .table__cel--small {
  width: 120px;
}
.departments .table__cel--action {
  width: 130px;
}

.edit-shifts {
  padding: 16px 24px;
}
.edit-shifts .btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.edit-shifts .text--error {
  color: #ef4444;
}
.edit-shifts .text--success {
  color: #b7fbdf;
}
.edit-shifts .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-shifts .container--right {
  justify-content: right;
}
.edit-shifts .select {
  padding: 16px 24px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 32px;
}
.edit-shifts .select__label {
  display: grid;
  place-items: center;
  padding: 8px 24px;
  background-color: #f6f6f6;
  font-weight: 800;
}
.edit-shifts .select__label--black {
  color: #181818;
}
.edit-shifts .select__input {
  padding: 8px 12px;
  background-color: transparent;
  color: #f6f6f6;
  border: none;
}
.edit-shifts .select__input--select {
  border-bottom: solid 1px #f6f6f6;
  width: 150px;
  text-align: center;
}
.edit-shifts .select__input--submit {
  width: 120px;
  border: solid 1px #f6f6f6;
}
.edit-shifts .editor {
  position: relative;
}
.edit-shifts .editor__btn--close {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 16px 16px;
}
.edit-shifts .editor__container {
  position: absolute;
  top: 0;
  right: 0;
  width: max(50%, 300px);
  height: max(100%, 500px);
  background-color: #181818;
  overflow: hidden;
  border: double 4px #f6f6f6;
  white-space: nowrap;
  transition: 0.7s;
  z-index: 99;
}
.edit-shifts .editor .close {
  width: 0;
  opacity: 0;
}
.edit-shifts .editor__form {
  display: grid;
  place-items: center;
  row-gap: 24px;
  padding: 24px 0;
}
.edit-shifts .editor__input-fields {
  display: grid;
  row-gap: 16px;
  grid-template-columns: 1fr;
}
.edit-shifts .editor__input-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.edit-shifts .editor__message {
  max-width: 250px;
  text-align: center;
  white-space: normal;
}

.login-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 24px;
}
.login-page .login-img {
  grid-column: 1/8;
}
.login-page .mb-12 {
  margin-bottom: 12px;
}
.login-page .mb-24 {
  margin-bottom: 24px;
}
.login-page .flex {
  display: flex;
}
.login-page .flex--right {
  justify-content: end;
}
.login-page .flex--center {
  justify-content: center;
  align-items: center;
}
.login-page .link--black-500 {
  color: #6d6d6d;
}
.login-page .link--blue-500 {
  color: #4452fe;
}
.login-page section {
  grid-column: 8/13;
  width: 100%;
  padding: 0 24px;
  margin: auto;
}
.login-page section .login-form .logo-frame {
  margin-bottom: 48px;
}
.login-page section .login-form .logo-frame .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page section .login-form .logo-frame .logo span {
  font-size: 24px;
}
.login-page section .login-form .logo-frame .message {
  text-align: center;
}
.login-page section .login-form .logo-frame .message span {
  color: #6d6d6d;
}
.login-page section .login-form .input-field label {
  color: #6d6d6d;
}
.login-page section .login-form .input-field input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 48px;
  border-radius: 8px;
}
.login-page .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 24px 0;
}
.login-page .divider .horizontal-line {
  width: 100%;
  border-bottom: solid 0.5px #f6f6f6;
}
.login-page .error-message {
  color: #ef4444;
}
@media screen and (max-width: 786px) {
  .login-page .login-img {
    display: none;
  }
  .login-page section {
    grid-column: 1/13;
    max-width: 500px;
  }
}

.landing .title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 24px auto;
  text-align: center;
  max-width: 70%;
}
.landing .buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 32px 0;
}
.landing .buttons .link {
  padding: 16px 32px;
  border: solid #f6f6f6 1px;
}
.landing .buttons .link:hover {
  background-color: #4452fe;
}
.landing .buttons .link:active {
  background-color: #c2d2ff;
}
.landing .features .content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 12px;
}
.landing .features .feature-image {
  grid-column: 1/9;
}
.landing .features .text-cards {
  grid-column: 9/13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.landing .features .text-cards .card {
  max-width: 300px;
}
.landing .features .text-cards .card--title {
  margin-bottom: 12px;
}
@media screen and (max-width: 786px) {
  .landing .features .content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 12px;
  }
  .landing .features .feature-image {
    grid-column: 1/13;
    grid-row: 1/2;
  }
  .landing .features .text-cards {
    grid-column: 1/13;
    grid-row: 2/3;
  }
  .landing .features .text-cards .card {
    max-width: 100%;
  }
}

.request__container {
  margin-bottom: 24px;
}
.request__head {
  padding: 12px 0;
}
.request__title {
  color: #f6f6f6;
}
.request .form {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 16px;
}
.request .form__label {
  margin-right: 16px;
}
.request .form__text--error-message {
  color: #ef4444;
}
.request .form__text--success-message {
  color: #7ff6c7;
}
.request .form__text--canceled {
  color: #fddd8a;
}
.request .form__group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 16px;
}
.request .form__group--column {
  flex-direction: column;
}
.request .form__group__date {
  display: flex;
  gap: 24px;
}
.request .form__detail {
  display: flex;
  flex-direction: column;
}
.request .form__detail--size {
  min-height: 100px;
}
.request .form__select--multiple {
  display: flex;
  align-items: center;
}
.request .form__select--size-multiple {
  width: 150px;
}
.request .form__btn {
  padding: 8px 12px;
  margin: 16px 0 16px auto;
  border: solid 1px #f6f6f6;
}
.request table,
.request th,
.request td {
  border: solid 1px #f6f6f6;
}
.request table {
  height: auto;
}
.request .table {
  width: 100%;
  padding: 16px 0;
  border: solid 1px #f6f6f6;
  border-collapse: collapse;
}
.request .table__row--size-head {
  height: 50px;
}
.request .table__row--size-body {
  height: 100px;
}
.request .table__cel {
  text-align: center;
  padding: 0 12px;
}
.request .table__cel--date {
  width: 100px;
}
.request .table__cel--detail {
  max-width: 300px;
  width: 100%;
}
.request .btn {
  margin: 8px 0;
}

.sign-up-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.sign-up-page section {
  grid-column: 1/8;
  width: 100%;
  padding: 0 24px;
  margin: auto;
}
.sign-up-page section .sign-up-form .logo-frame {
  margin-bottom: 48px;
}
.sign-up-page section .sign-up-form .logo-frame .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-page section .sign-up-form .logo-frame .logo span {
  font-size: 24px;
}
.sign-up-page section .sign-up-form .logo-frame .message {
  text-align: center;
}
.sign-up-page section .sign-up-form .logo-frame .message span {
  color: #6d6d6d;
}
.sign-up-page .sign-up-input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-page .sign-up-input-field .company-info {
  display: grid;
  row-gap: 16px;
  justify-content: start;
  width: 100%;
  margin-bottom: 24px;
}
.sign-up-page .sign-up-input-field .input-field-layout {
  width: 100%;
}
.sign-up-page .sign-up-input-field .input-field-layout .field-row {
  display: flex;
  width: 100%;
}
.sign-up-page .sign-up-input-field .input-field-layout .field-row--one-item {
  justify-content: start;
}
.sign-up-page .sign-up-input-field .input-field-layout .field-row--two-items {
  flex-wrap: wrap;
  justify-content: space-between;
}
.sign-up-page .sign-up-input-field .input-field-layout .field-row .input-field {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
}
.sign-up-page .sign-up-input-field .input-field-layout .field-row .input-field label {
  color: #6d6d6d;
}
.sign-up-page .sign-up-input-field .input-field-layout .field-row .input-field .input {
  margin-bottom: 48px;
}
.sign-up-page .sign-up-input-field .input-field-layout .field-row .input-field input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
}
.sign-up-page .sign-up-img {
  grid-column: 8/13;
  grid-row: 1/2;
}
.sign-up-page .bg-white {
  background-color: #d1d1d1;
}
.sign-up-page .mb-12 {
  margin-bottom: 12px;
}
.sign-up-page .mb-24 {
  margin-bottom: 24px;
}
.sign-up-page .btns {
  display: flex;
  margin-top: 32px 0;
  gap: 32px;
}
.sign-up-page .btns--margin-narrow {
  margin: 16px 0;
}
.sign-up-page .btns--right {
  width: 100%;
  justify-content: end;
}
.sign-up-page .btns .btn {
  border: solid 1px;
  padding: 12px 24px;
  border-radius: 8px;
}
.sign-up-page .btns .btn--next {
  border-color: #4452fe;
  background-color: #4452fe;
}
.sign-up-page .btns .btn--prev {
  border-color: #888888;
  background-color: #888888;
}
.sign-up-page .btns .btn--sign-up {
  border-color: #41e7a6;
  background-color: #41e7a6;
}
.sign-up-page .error-message {
  color: #ef4444;
}
@media screen and (max-width: 786px) {
  .sign-up-page section {
    grid-column: 1/13;
  }
  .sign-up-page .sign-up-img {
    display: none;
  }
}

.summary .header__title {
  margin-bottom: 16px;
}
.summary .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.summary .card {
  display: grid;
  place-items: center;
  row-gap: 8px;
  width: 300px;
  border: solid 1px white;
  padding: 12px 24px;
  margin-bottom: 24px;
  text-align: center;
}
.summary .card__text--title {
  font-size: 1rem;
  font-size: clamp(1rem, 0.9166666667rem + 0.4166666667vw, 1.25rem);
}
.summary table,
.summary th,
.summary td {
  border: solid 1px #f6f6f6;
}
.summary table {
  height: auto;
}
.summary .table {
  width: 100%;
  padding: 16px 0;
  border: solid 1px #f6f6f6;
  border-collapse: collapse;
}
.summary .table__row--size-head {
  height: 40px;
  border-bottom: solid #f6f6f6 2px;
}
.summary .table__row--size-body {
  height: 50px;
}
.summary .table__cell {
  text-align: center;
}
.summary .table__cell--small {
  width: 120px;
}
.summary .table__cell--action {
  width: 130px;
}

.about {
  display: grid;
  row-gap: 50px;
}
.about .profileBanner {
  margin: 20px 20px;
}
.about .second-div {
  display: flex;
  justify-content: space-evenly;
}
.about .about-article {
  text-align: justify;
  line-height: 35px;
}
.about .cards {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid white;
  color: #333;
  width: 276px;
  height: 114px;
  margin-bottom: 20px;
}
.about .cardtext {
  text-align: center;
  color: #181818;
}
.about .third-div {
  display: grid;
  place-items: center;
}
.about .image-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: space-around;
  align-items: center;
}
.about .centered-text {
  text-align: center;
}
.about .icon {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
}
.about .icon p {
  text-align: center;
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full, .rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis, .rbc-show-more, .rbc-row-segment .rbc-event-content, .rbc-event-label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #454545;
}

.rbc-off-range-bg {
  background: rgba(255, 255, 255, 0.1);
}

.rbc-header {
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
  border-bottom: 1px solid #ddd;
}
.rbc-header + .rbc-header {
  border-left: 1px solid #ddd;
}
.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-header > a, .rbc-header > a:active, .rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-button-link {
  color: #f6f6f6;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

.rbc-row-content {
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-row-content-scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rbc-row-content-scrollable .rbc-row-content-scroll-container {
  height: 100%;
  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.rbc-row-content-scrollable .rbc-row-content-scroll-container::-webkit-scrollbar {
  display: none;
}

.rbc-today {
  background-color: #4f4f4f;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
}
.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}
.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.rbc-btn-group button + button {
  margin-left: -1px;
}
.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}
.rbc-btn-group + .rbc-btn-group, .rbc-btn-group + button {
  margin-left: 10px;
}

.rbc-event, .rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #3174ad;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.rbc-slot-selecting .rbc-event, .rbc-slot-selecting .rbc-day-slot .rbc-background-event, .rbc-day-slot .rbc-slot-selecting .rbc-background-event {
  cursor: inherit;
  pointer-events: none;
}
.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #265985;
}
.rbc-event:focus, .rbc-day-slot .rbc-background-event:focus {
  outline: 5px auto #3b99fc;
}

.rbc-event-label {
  font-size: 80%;
  text-wrap: wrap;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}
.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  color: #3174ad;
}
.rbc-show-more:hover, .rbc-show-more:focus {
  color: #265985;
}

.rbc-month-view {
  position: relative;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

.rbc-month-header {
  display: flex;
  flex-direction: row;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
}
.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #ddd;
}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}
.rbc-date-cell.rbc-now {
  font-weight: bold;
}
.rbc-date-cell > a, .rbc-date-cell > a:active, .rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  flex: 1 0 0%;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #ddd;
}
.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto;
}
.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}
.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid #ddd;
}
.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid #ddd;
}
.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}
.rbc-agenda-time-cell .rbc-continues-after:after {
  content: " »";
}
.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: "« ";
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.rbc-time-column .rbc-timeslot-group {
  flex: 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #ddd;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}
.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}
.rbc-day-slot .rbc-events-container.rbc-rtl {
  left: 10px;
  right: 0;
}
.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}
.rbc-day-slot .rbc-background-event {
  opacity: 0.75;
}
.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
}
.rbc-day-slot .rbc-event-content {
  width: 100%;
  flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}
.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  border-right: 1px solid #ddd;
  z-index: 10;
  margin-right: -1px;
}
.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}
.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0px;
}
.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none;
}
.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}
.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  flex: 1 1 0;
  flex-basis: 0 px;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  flex: 1 0 0;
}
.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #ddd;
  min-height: 0;
}
.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
  text-align: right;
}
.rbc-time-view .rbc-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}
.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  border-left: 1px solid #ddd;
}
.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}
.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}
.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #ddd;
}
.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #ddd;
}
.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #ddd;
}
.rbc-time-header > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid #ddd;
}
.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
  flex-shrink: 0;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #ddd;
  overflow-y: auto;
  position: relative;
}
.rbc-time-content > .rbc-time-gutter {
  flex: none;
}
.rbc-time-content > * + * > * {
  border-left: 1px solid #ddd;
}
.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-time-content > .rbc-day-slot {
  width: 100%;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.fullscreen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
}
.fullscreen--center {
  display: grid;
  place-items: center;
}

.user-page-layout {
  display: flex;
}
.user-page-layout__contents {
  width: 100%;
  padding: 12px 24px;
}
.user-page-layout__side-nav {
  position: relative;
}

.side-nav__btn--open {
  display: none;
}
.side-nav__btn--close {
  display: none;
}
.side-nav__btn__text {
  color: #181818;
}
.side-nav .nav {
  width: 200px;
  border-right: solid #f6f6f6 1px;
  transition: 0.7s;
}
.side-nav .nav__title {
  background-color: #f6f6f6;
  text-align: center;
}
.side-nav .nav__title__text {
  padding: 6px 0;
  font-weight: 800;
  color: #181818;
}
.side-nav .nav__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}
.side-nav .nav__list__item__text {
  padding-left: 12px;
}
.side-nav .nav__list__item__text:hover {
  text-decoration: underline;
  text-decoration-color: #f6f6f6;
}
@media screen and (max-width: 768px) {
  .side-nav__btn--open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #888888;
    z-index: 999;
  }
  .side-nav__btn--close {
    display: block;
    margin: 24px 0;
  }
  .side-nav .nav {
    width: 0;
    opacity: 0;
    pointer-events: none;
  }
  .side-nav .nav__list__item {
    padding: 12px 0;
  }
  .side-nav .over-wrap {
    position: absolute;
    top: 20px;
    left: 0;
    width: calc(100vw - 48px);
    height: 100vh;
    background-color: #181818;
    text-align: center;
    border: none;
    opacity: 1;
    pointer-events: auto;
    z-index: 99;
  }
}/*# sourceMappingURL=styles.css.map */