@use "../utils/colors" as *;

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;

    .logo {
      display: flex;
      align-items: center;

      span {
        font-size: 24px;
      }
    }

    ul {
      display: flex;
      gap: 24px;

      li {
        &:hover {
          text-decoration: underline $white;
        }
      }
    }

    .link {
      a {
        background-color: transparent;
        padding: 16px 32px;
        border: solid $white 1px;

        &:hover {
          background-color: $black-700;
        }

        &:active {
          background-color: transparent;
        }
      }
    }
  }
}
