@use "../utils/colors" as *;

.calendar {
  grid-row: 2;
  grid-column: 3/13;
  padding: 16px 24px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--right {
      justify-content: right;
    }
  }

  .select {
    padding: 16px 24px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 32px;

    &__label {
      display: grid;
      place-items: center;
      padding: 8px 24px;
      background-color: $white;
      font-weight: 800;
    }

    &__label--black {
      color: $black-950;
    }

    &__input {
      padding: 8px 12px;
      background-color: transparent;
      color: $white;
      border: none;
    }

    &__input--select {
      border-bottom: solid 1px $white;
      width: 150px;
      text-align: center;
    }

    &__input--submit {
      width: 120px;
      border: solid 1px $white;
    }
  }

  .editor {
    position: relative;

    &__btn-close {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 999;
    }

    &__container {
      position: absolute;
      top: 0;
      right: 0;
      width: max(50%, 300px);
      height: max(100%, 500px);
      background-color: $black-950;
      overflow: hidden;
      border: double 4px $white;
      white-space: nowrap;
      transition: 0.7s;
      z-index: 99;
    }

    .close {
      width: 0;
      border: none;
    }
  }
}
