@use "../utils/colors" as *;

.login-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .login-img {
    grid-column: 1/8;
  }

  .mb-12 {
    margin-bottom: 12px;
  }

  .mb-24 {
    margin-bottom: 24px;
  }

  .flex {
    display: flex;

    &--right {
      justify-content: end;
    }

    &--center {
      justify-content: center;
      align-items: center;
    }
  }

  .link {
    &--black-500 {
      color: $black-500;
    }

    &--blue-500 {
      color: $blue-500;
    }
  }

  section {
    grid-column: 8/13;
    width: 100%;
    padding: 0 24px;
    margin: auto;

    .login-form {
      .logo-frame {
        margin-bottom: 48px;

        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-size: 24px;
          }
        }

        .message {
          text-align: center;
          span {
            color: $black-500;
          }
        }
      }

      .input-field {
        label {
          color: $black-500;
        }

        input {
          width: 100%;
          padding: 8px 12px;
          margin-bottom: 48px;
          border-radius: 8px;
        }
      }
    }
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 24px 0;

    .horizontal-line {
      width: 100%;
      border-bottom: solid 0.5px $white;
    }
  }

  .error-message {
    color: $red-500;
  }

  @media screen and (max-width: 786px) {
    .login-img {
      display: none;
    }

    section {
      grid-column: 1/13;
      max-width: 500px;
    }
  }
}
