@use "../utils/colors" as *;

.request {
  &__container {
    margin-bottom: 24px;
  }

  &__head {
    padding: 12px 0;
  }

  &__title {
    color: $white;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 16px;

    &__label {
      margin-right: 16px;
    }

    &__text--error-message {
      color: $red-500;
    }

    &__text--success-message {
      color: $green-300;
    }

    &__text--canceled {
      color: $yellow-200;
    }

    &__group {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-bottom: 16px;
    }

    &__group--column {
      flex-direction: column;
    }

    &__group__date {
      display: flex;
      gap: 24px;
    }

    &__detail {
      display: flex;
      flex-direction: column;
    }

    &__detail--size {
      min-height: 100px;
    }

    &__select {
    }

    &__select--multiple {
      display: flex;
      align-items: center;
    }

    &__select--size-multiple {
      width: 150px;
    }

    &__btn {
      padding: 8px 12px;
      margin: 16px 0 16px auto;
      border: solid 1px $white;
    }
  }

  table,
  th,
  td {
    border: solid 1px $white;
  }

  table {
    height: auto;
  }

  .table {
    width: 100%;
    padding: 16px 0;
    border: solid 1px $white;
    border-collapse: collapse;

    &__row {
    }

    &__row--size-head {
      height: 50px;
    }

    &__row--size-body {
      height: 100px;
    }

    &__cel {
      text-align: center;
      padding: 0 12px;
    }

    &__cel--small {
      min-width: 60px;
    }

    &__cel--medium {
      min-width: 120px;
    }

    &__cel--large {
      min-width: 300px;
    }
  }

  .btn {
    margin: 8px 0;
  }

  .overflow-y {
    overflow-y: scroll;
  }
}
