@use "../utils/colors" as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $black-950;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
a,
button,
span,
label,
th,
td {
  color: $white;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  &:focus {
    outline: none;
  }
}
