$white:#F6F6F6;

$black-100: #E7E7E7;
$black-200: #D1D1D1;
$black-300: #B0B0B0;
$black-400: #888888;
$black-500: #6D6D6D;
$black-600: #5D5D5D;
$black-700: #4F4F4F;
$black-800: #454545;
$black-900: #3D3D3D;
$black-950: #181818;


$blue-100: #DDE7FF;
$blue-200: #C2D2FF;
$blue-300: #9DB4FF;
$blue-400: #768AFF;
$blue-500: #4452FE;
$blue-600: #3837F4;
$blue-700: #2F2BD7;
$blue-800: #2725AE;
$blue-900: #262789;
$blue-950: #17174F;


$green-100: #DAFEEF;
$green-200: #B7FBDF;
$green-300: #7FF6C7;
$green-400: #41E7A6;
$green-500: #18CF87;
$green-600: #0DAC6E;
$green-700: #0E8758;
$green-800: #116A48;
$green-900: #10573D;
$green-950: #023121;


$yellow-100: #FEEFC7;
$yellow-200: #FDDD8A;
$yellow-300: #FCCB4D;
$yellow-400: #FBBF24;
$yellow-500: #F5B40B;
$yellow-600: #D99E06;
$yellow-700: #B48409;
$yellow-800: #926D0E;
$yellow-900: #785B0F;
$yellow-950: #453303;