$white: #f6f6f6;
$red-500: #ef4444;
$dark-blur: rgba(0, 0, 0, 0.9);

$black-100: #e7e7e7;
$black-200: #d1d1d1;
$black-300: #b0b0b0;
$black-400: #888888;
$black-500: #6d6d6d;
$black-600: #5d5d5d;
$black-700: #4f4f4f;
$black-800: #454545;
$black-900: #3d3d3d;
$black-950: #181818;

$blue-100: #dde7ff;
$blue-200: #c2d2ff;
$blue-300: #9db4ff;
$blue-400: #768aff;
$blue-500: #4452fe;
$blue-600: #3837f4;
$blue-700: #2f2bd7;
$blue-800: #2725ae;
$blue-900: #262789;
$blue-950: #17174f;

$green-100: #dafeef;
$green-200: #b7fbdf;
$green-300: #7ff6c7;
$green-400: #41e7a6;
$green-500: #18cf87;
$green-600: #0dac6e;
$green-700: #0e8758;
$green-800: #116a48;
$green-900: #10573d;
$green-950: #023121;

$yellow-100: #feefc7;
$yellow-200: #fddd8a;
$yellow-300: #fccb4d;
$yellow-400: #fbbf24;
$yellow-500: #f5b40b;
$yellow-600: #d99e06;
$yellow-700: #b48409;
$yellow-800: #926d0e;
$yellow-900: #785b0f;
$yellow-950: #453303;
