@use "../utils/colors" as *;

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.fullscreen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark-blur;
  z-index: 99;

  &--center {
    display: grid;
    place-items: center;
  }
}

.user-page-layout {
  display: flex;

  &__contents {
    width: 100%;
    padding: 12px 24px;
  }
  &__side-nav {
    position: relative;
  }
}

.side-nav {
  &__btn--open {
    display: none;
  }

  &__btn--close {
    display: none;
  }

  &__btn__text {
    color: $black-950;
  }

  .nav {
    width: 200px;
    border-right: solid $white 1px;
    transition: 0.7s;

    &__title {
      background-color: $white;
      text-align: center;
    }

    &__title__text {
      padding: 6px 0;
      font-weight: 800;
      color: $black-950;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 12px 0;
    }

    &__list__item {
    }

    &__list__item__text {
      padding-left: 12px;
      &:hover {
        text-decoration: underline;
        text-decoration-color: $white;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__btn--open {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: $black-400;
      z-index: 999;
    }

    &__btn--close {
      display: block;
      margin: 24px 0;
    }

    .nav {
      width: 0;
      opacity: 0;
      pointer-events: none;

      &__list__item {
        padding: 12px 0;
      }
    }

    .over-wrap {
      position: absolute;
      top: 20px;
      left: 0;
      width: calc(100vw - 48px);
      height: 100vh;
      background-color: $black-950;
      text-align: center;
      border: none;
      opacity: 1;
      pointer-events: auto;
      z-index: 99;
    }
  }
}
